* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(245, 16, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    color: #f4f4f4;
  }
  
  h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  h2 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 2rem;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  
  .countdown-container {
    display: flex;
  }
  
  .big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
  }
  
  .countdown-value {
    text-align: center;
  }
  .countdown-value span {
    font-size: 1.3rem;
  }
  @media screen and (max-width: 600px) {
    body {
      overflow: hidden;
    }
    h1 {
      font-size: 1.5rem;
      font-weight: 800;
    }
    .countdown-container {
      display: flex;
      flex-direction: column;
    }
    .big-text {
      font-size: 4rem;
      font-weight: normal;
    }
    .countdown-value span {
      margin: 1rem;
    }
  }